
.todo{
    background-color: rgb(190, 202, 202);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    height: 40px;
}

.todo-item{
    margin: 0px 20px;
}

.todo-terminado{
    opacity: 0.4;
}

.borrar{
    background-color: #F08200;
}